<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("include/head") %>
</head>

<body>
  <%- include("include/header-aside") %>
    <main>
      <h1>Make your own imagination!</h1>
      <p>
        Blogs is a website where you can create and share you own stories
      </p>

    </main>
</body>

</html>