<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("include/head") %>
    <link rel="stylesheet" href="/styles/shared.css" />

</head>

<body>
  <%- include("include/header-aside") %>
    <main>
      <h1>Success!</h1>
      <p>Your blog was successfully created!</p>
    </main>
</body>

</html>