<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("include/head") %>
    <link rel="stylesheet" href="/styles/index.css" />
</head>

<body>
  <%- include("include/header-aside") %>
    <main>
      <h1>Create your own imagination!</h1>
      <p>
        Find and Share your own imagination!
      </p>
      <ul id="actions">
        <li>
          <a href="/blog">List of Blogs</a>
        </li>
        <li>
          <a href="/recommend">Create Blog</a>
        </li>
      </ul>
    </main>
</body>

</html>