<header id="main-header">
    <div id="logo"><a href="/">Blogs</a></div>
    <nav>
        <ul>
            <li class="nav-item">
                <a href="/blog">List of Blogs</a>
            </li>
            <li class="nav-item">
                <a href="/recommend">Make a Blog</a>
            </li>
            <li class="nav-item"><a href="/about">About Blogs</a></li>
        </ul>
    </nav>
    <button id="drawer-btn">
        <span></span>
        <span></span>
        <span></span>
    </button>
</header>
<aside id="mobile-drawer">
    <nav>
        <ul>
            <li class="nav-item"><a href="/blog">Browse Blogs</a></li>
            <li class="nav-item"><a href="/recommend">Create Blog</a></li>
            <li class="nav-item"><a href="/about">About us</a></li>
        </ul>
    </nav>
</aside>