<li class="blog-item">
  <article>
    <h2>
      <%= blog.title %>
    </h2>
    <div class="blog-meta">
      <p>
        <%= blog.name %>
      </p>
      <p>
        <%= blog.description %>
      </p>
    </div>
    <div class="blog-actions">
      <a href="/blog/<%= blog.id %>">View Restaurant</a>
    </div>
  </article>
</li>